<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="styles/style.css" rel="stylesheet">
</head>
<body>



	<h1>Admin View</h1>






	<p>Omnipotent power</p>



	<h1>New Ward</h1>
	<form action="/admin/create" method="POST">

		Name: <input type="text" name="name"><br>
		Image: <input type="text" name="image"><br>
		Email: <input type="text" name="email"><br>
		Phone: <input type="text" name="phone"><br>
		Address: <input type="text" name="address"><br>
		Composite Score <input type="text" name="compositeScore"><br>
		Total Reviews: <input type="number" name="totalReviews"><br>
		<button type="submit">New Ward</button><br>
		
	</form>
<br><br><br>






<script type="javascripts/main.js"></script>
</body>
</html>