<!DOCTYPE html>
<html>
<head>
	<title>Rate Your Politician</title>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="/styles/style.css" rel="stylesheet">
</head>
<body>

<header>


	<div class="dropdown" style="float:left;">
	  <button class="dropbtn">|||</button>
	  <div class="dropdown-content" style="left:0;">
	    <a href="/">Home</a>
	    <a href="#">Profile</a>
	    <a href="/about">About</a>
	  </div>
	</div>

	<div id="title">Rate Your Chicago Aldermen</div>

	<% if(!logged) { %>
	<form action="/login" method="Post">
    	<input type="text" placeholder="username" name="username">
    	<input type="password" placeholder="password" name="password">
    	<button id="gate" type="submit">Login</button>
  	</form>


  <% } else { %>
    	<form action="logout" method="POST">
        	<button id="fence" type="submit">Logout</button>
    	</form>
    <%} %>


</header>

<br><br><br>

<main>
	<h1>About</h1>





	<br><br><br>

	<p>This app is an open source RESTful project made by General Assembly students. Its mission is to provide a platform of engagement in local government, leading to an increase in participation and accountability. </p>
</main>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


	<footer> 

	    <a href="/">Home</a>
	    <a href="#">Profile</a>
	    <a href="/about">About</a>

	    <img id="flag" src="https://media1.britannica.com/eb-media/58/194558-131-DC0DA257.jpg">

	</footer>




<script src="javascripts/map.js"></script>
<script src="javascripts/main.js"></script>

</body>
</html>