<!DOCTYPE html>
<html>
<head>
	<title>Rate Your Politician</title>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="/styles/style.css" rel="stylesheet">
</head>
<body>

<header>


	<div class="dropdown" style="float:left;">
	  <button class="dropbtn">|||</button>
	  <div class="dropdown-content" style="left:0;">
	    <a href="/">Home</a>
	    <a href="#">Profile</a>
	    <a href="/about">About</a>
	  </div>
	</div>




	<span id="login">
	    Username:  <input type="text" name="username">
        Password:  <input type="password" name="password">
        <button>Login</button>
    </span>
</header>



<br><br><br>

<main>





	<svg></svg>
	<script src="https://d3js.org/d3.v3.min.js"></script>

</main>

<br><br><br><br><br>


<br><br><br><br><br>


	<footer> 
		<span>Contact</span><br>

		  <a href="#">Home</a>
		  <a href="#">Content</a>
		  <a href="#">Contribute</a>
		  <a href="#">About</a>

	</footer>




<script src="javascripts/map.js"></script>
<script src="javascripts/main.js"></script>

</body>
</html>