body {
  background-color: whitesmoke;
}
body button {
  font-size: 12px;
  background-color: lightblue;
}
body button:hover {
  background-color: orangered;
  color: white;
  transition-duration: 0.4s;
}
body img {
  height: 300px;
  width: 300px;
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
body main {
  font-family: 'Open Sans';
  display: table;
  margin: 0 auto;
  text-align: center;
}
body textarea {
  width: 300px;
  height: 150px;
}
body .background {
  fill: #eee;
  pointer-events: all;
}
body .map-layer {
  fill: #fff;
  stroke: #aaa;
}
body .effect-layer {
  pointer-events: none;
}
body text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
body text.big-text {
  font-size: 30px;
  font-weight: 400;
}
body #secret {
  display: none;
}
header {
  height: 3rem;
  text-align: right;
  background: #0198DD;
  top: 0;
  font-size: 12px;
}
header .dropbtn {
  margin-top: 0;
  margin-left: 2%;
  background-color: #0198DD;
  color: white;
  padding: 7px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
header .dropdown {
  position: relative;
  display: inline-block;
}
header .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .dropdown-content a:hover {
  background-color: #0198DD;
  border-left: 5px solid #B00A00;
}
header .dropdown:hover .dropdown-content {
  display: block;
}
header .dropdown:hover .dropbtn {
  background-color: white;
}
header #gate {
  margin-top: 10px;
}
header #nav {
  color: white;
}
#flag {
  float: right;
  height: 75px;
  width: 100px;
  margin: 0px 100px 0px 0px;
  border: none;
  border-radius: 20px;
}
footer {
  position: absolute;
  width: 100%;
  margin-top: -2.6rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  padding-left: 5rem;
  background-color: #013248;
  color: white;
}
