body {
  background-color: whitesmoke;
}
body header {
  height: 3rem;
  padding-top: 10px;
  text-align: right;
  background: #0198DD;
  top: 0;
  font-size: 12px;
}
body header #nav {
  color: white;
}
body button {
  font-size: 12px;
  background-color: lightblue;
}
body button:hover {
  background-color: orangered;
  color: white;
  transition-duration: 0.4s;
}
body img {
  height: 300px;
  width: 300px;
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
body footer {
  width: 100%;
  margin-top: -2.6rem;
  padding-top: 5.2rem;
  padding-bottom: 6.2rem;
  padding-left: 5rem;
  background-color: #013248;
  color: white;
}
