body{

	background-color: whitesmoke;


	header {


	.dropbtn {
	    background-color: #4CAF50;
	    color: white;
	    padding: 16px;
	    font-size: 16px;
	    border: none;
	    cursor: pointer;
	}

	.dropdown {
	    position: relative;
	    display: inline-block;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    right: 0;
	    background-color: #f9f9f9;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	}

	.dropdown-content a {
	    color: white;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	}

	.dropdown-content a:hover {
		background-color: #f1f1f1
	}

	.dropdown:hover .dropdown-content {
	    display: block;
	}

	.dropdown:hover .dropbtn {
	    background-color: #3e8e41;
	}




		height: 3rem;
		padding-top: 10px;
		text-align: right;
		background: #0198DD;   
		top: 0;
		font-size: 12px;


		#login{
			
		}
		#nav{
			color: white;
		}

	}//end of header tag


	button {
	  font-size: 12px;
	  background-color: lightblue;
	}
	button:hover {
	  background-color: orangered;
	  color: white;
	  transition-duration: 0.4s;
	}

	img {
		height: 300px;
		width: 300px;
		margin: 40px 0px 0px 0px;
		border: 7px solid white;
		border-radius: 20px;
	}




	footer{
	width: 100%;
	margin-top: -2.6rem;
	padding-top: 5.2rem;
	padding-bottom: 6.2rem;
	padding-left: 5rem;
	background-color: #013248;
	color: white;

	}

}

.background {
  fill: #eee;
  pointer-events: all;
}

.map-layer {
  fill: #fff;
  stroke: #aaa;
}

.effect-layer{
  pointer-events:none;
}

text{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

text.big-text{
  font-size: 30px;
  font-weight: 400;
}







}





