body{

	background-color: whitesmoke;


	header {
		height: 3rem;
		padding-top: 10px;
		text-align: right;
		background: #0198DD;   
		top: 0;
		font-size: 12px;


		#pages{
			
		}

		#login{
			
		}
		#nav{
			color: white;
		}

	}


	button {
	  font-size: 12px;
	  background-color: lightblue;
	}
	button:hover {
	  background-color: orangered;
	  color: white;
	  transition-duration: 0.4s;
	}

	img {
		height: 300px;
		width: 300px;
		margin: 40px 0px 0px 0px;
		border: 7px solid white;
		border-radius: 20px;
	}




	footer{
	width: 100%;
	margin-top: -2.6rem;
	padding-top: 5.2rem;
	padding-bottom: 6.2rem;
	padding-left: 5rem;
	background-color: #013248;
	color: white;

	}

}

.background {
  fill: #eee;
  pointer-events: all;
}

.map-layer {
  fill: #fff;
  stroke: #aaa;
}

.effect-layer{
  pointer-events:none;
}

text{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

text.big-text{
  font-size: 30px;
  font-weight: 400;
}